<div class="container">
  <h6 class="title">Criar cronograma</h6>

  <form class="form" [formGroup]="createScheduleForm" (submit)="submit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nome do conograma</mat-label>
      <input matInput placeholder="Ex. Cronograma Concurso do Banco do Brasil" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Início do Cronograma</mat-label>
      <input matInput [matDatepicker]="startDate" formControlName="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Término do Cronograma</mat-label>
      <input matInput [matDatepicker]="endDate" formControlName="endDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrição do cronograma</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Visibilidade</mat-label>
      <select matNativeControl required formControlName="visibility">
        <option value="public">Público</option>
        <option value="private">Privado</option>
      </select>
    </mat-form-field>

    <h6>Atividades</h6>

    <form class="activities-form" [formGroup]="activitiesForm">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex. Estudar história" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Duração</mat-label>
          <input type="number" matInput placeholder="Ex. 10 minutos" formControlName="duration">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <select matNativeControl required formControlName="category">
            <option value="class">Aula</option>
            <option value="review">Revisão</option>
            <option value="test">Simulado</option>
          </select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prioridade</mat-label>
          <select matNativeControl required formControlName="priority">
            <option value="high">Alta</option>
            <option value="medium">Média</option>
            <option value="low">Baixa</option>
          </select>
        </mat-form-field>
      </div>

      <button mat-flat-button (click)="submitActivity()">Adicionar atividade</button>
    </form>

    @if (activities.length > 0) {
      <div cdkDropList cdkDropListOrientation="horizontal" class="activities-list" (cdkDropListDropped)="drop($event)">
        @for (activity of activities; track activity.name) {
        <mat-card class="activity-box" cdkDrag>
          <button class="delete-icon-button" mat-icon-button (click)="deleteSchedule(activity.id)">
            <ng-icon name="phosphorTrashSimple" />
          </button>
          <mat-card-title>
            <ng-icon class="priority-icon {{ activity.priority }}" name="phosphorStar" />
            @if (activity.priority === 'Alta') {
            <mat-icon>star</mat-icon>
            }
            {{ activity.name }}
          </mat-card-title>
          <mat-card-content>
            <!-- 🗓️ {{ activity.data }} ⏰ {{ activity.horario }} -->
            🗓️ 20/12 ⏰ 08h-09h
            <mat-chip color="primary">{{ activity.category | activityCategory }}</mat-chip>
          </mat-card-content>
        </mat-card>
        }
      </div>
    } @else {
    <p class="no-activities-message">Nenhuma atividade por enquanto. Use o formulário acima para adicionar uma
      atividade!</p>
    }

    <button class="create-schedule-button" mat-flat-button>Criar cronograma</button>
  </form>
</div>