.form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  max-width: 300px;
}

.sign-up-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  button {
    margin-left: 10px;
  }
}
